<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
        scope="context"
        name="applicationName"
        source="spring.application.name"
        defaultValue="unknown-service"/>

    <springProperty
        scope="context"
        name="activeProfile"
        source="spring.profiles.active"
        defaultValue="default"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [${applicationName}] [${activeProfile}] [%thread] %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
